//header

.navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 100px;
  color: orange;
  &__brand {
    height: 100px;
    width: 176px;
    background-size: 114px;
  }
  &__mainLogo {
    background-repeat: no-repeat;
    background-image: url("~nav-title.png");
    img .nav-image {
    max-width: 100%; 
    height:auto;
    }
  }
  &-nav {
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      .user-nickname {
        color: black;
        font-size: 22px;
      }
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }
      .profile-icon {
        background-image: url("~parts3.png");
      }
    }
  }
}

/* タブレット表示時 */
@media screen and (max-width: 1024px) {
  .navbar {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    height: 100%;
    color: orange;
    &__brand {
      height: 100%;
      width: 176px;
      background-size: 114px;
    }
    &__mainLogo {
      background-repeat: no-repeat;
      background-image: url("~nav-title.png");
      img .nav-image {
      max-width: 100%; 
      height:auto;
      }
    }
    &-nav {
      & > li {
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        .user-nickname {
          color: black;
          font-size: 40px;
        }
        .commonNavIcon {
          height: auto;
          width: auto;
          background-size: 22px !important;
          background-repeat: no-repeat;
        }
        .profile-icon {
          background-image: url("~parts3.png");
        }
      }
    }
  }
}

 /* スマホ表示時 */
 @media screen and (max-width: 599px) {
  .navbar {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    height: 100%;
    color: orange;
    &__brand {
      height: 100%;
      width: 100%;
      background-size: 100%;
    }
    &__mainLogo {
      background-repeat: no-repeat;
      background-image: url("~nav-title.png");
      img .nav-image {
        max-width: 100%;
      }
    }
    &-nav {
      & > li {
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        .user-nickname {
          color: black;
          font-size: 18px;
        }
        .commonNavIcon {
          height: auto;
          width: auto;
          background-size: 100%px !important;
          background-repeat: no-repeat;
        }
        .profile-icon {
          background-image: url("~parts3.png");
        }
      }
    }
  }
}