//header
.header-list {
  font-size: 40px;
  margin: 30px;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 100px;
  color: orange;
  &__brand {
    height: 100px;
    width: 176px;
    background-size: 114px;
  }
  &__mainLogo {
    background-repeat: no-repeat;
    background-image: url("~nav-title.png");
    img .nav-image {
    max-width: 100%; 
    height:auto;
    }
  }
  &-nav {
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      .user-nickname {
        color: black;
        font-size: 22px;
      }
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }
      .profile-icon {
        background-image: url("~parts3.png");
      }
    }
  }
}

/* タブレット表示時 */
@media screen and (max-width: 1024px) {
  .header-list {
    font-size: 15px;
    float: right;
    color: orange;
  }
  li {
    float: left;
    text-decoration: none;
  }
    .navbar {
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, .0975);
      height: 100px;
      &__brand {
        height: 10%;
        width: 393px;
        background-size: 10%;
      }
      &__mainLogo {
        background-repeat: no-repeat;
        background-image: url("~nav-title.png");
        img .nav-image {
        width: 10%; 
        height:10%;
        font-size: 10%;
        }
      }
    }
      .user-nickname {
        color: black;
        font-size: 15px;
        }
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      .profile-icon {
        background-image: url("~parts3.png");
      }
    }
  }

 /* スマホ表示時 */
 @media screen and (max-width: 599px) {
  .header-list {
    font-size: 15px;
    float: right;
    color: orange;
  }
  li {
    float: left;
    text-decoration: none;
  }
    .navbar {
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, .0975);
      height: 100px;
      &__brand {
        height: 10%;
        width: 393px;
        background-size: 10%;
      }
      &__mainLogo {
        background-repeat: no-repeat;
        background-image: url("~nav-title.png");
        img .nav-image {
        width: 10%; 
        height:10%;
        font-size: 10%;
        }
      }
    }
      .user-nickname {
        color: black;
        font-size: 15px;
        }
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      .profile-icon {
        background-image: url("~parts3.png");
      }
    }
  }