//header
.header-list {
  font-size: 40px;
  margin: 30px;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 100px;
  color: orange;
  &__brand {
    height: 100px;
    width: 176px;
    background-size: 114px;
  }
  &__mainLogo {
    background-repeat: no-repeat;
    background-image: url("~nav-title.png");
    img .nav-image {
    max-width: 100%; 
    height:auto;
    }
  }
  &-nav {
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      .user-nickname {
        color: black;
        font-size: 22px;
      }
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }
      .profile-icon {
        background-image: url("~parts3.png");
      }
    }
  }
}

/* タブレット表示時 */
@media screen and (max-width: 1024px) {
  .navbar {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    height: 100px;
    color: orange;
    &__brand {
      height: 50px;
      width: 1024px;
      background-size: 50%;
    }
    &__mainLogo {
      background-repeat: no-repeat;
      background-image: url("~nav-title.png");
      img .nav-image {
      max-width: 18px; 
      height:18px;
      font-size: 18px;
      }
    }
    &-nav {
      & > li {
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
        .user-nickname {
          color: black;
          font-size: 40px;
        }
        .commonNavIcon {
          height: 24px;
          width: 24px;
          background-size: auto;
          background-repeat: no-repeat;
        }
        .profile-icon {
          background-image: url("~parts3.png");
        }
      }
    }
  }
}

 /* スマホ表示時 */
 @media screen and (max-width: 599px) {
  .header-list {
    font-size: 15px;
    margin: 10px;
  }
  .btn btn-primary {
    float:left;
    list-style: none; 
    margin:auto;
    text-align:center
  }
  .navbar__brand navbar__mainLogo {
    height: 10px;
    width: 10px;
    background-size: 20%;
    background-repeat: no-repeat;
  }
  .navbar {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    height: 100px;
    color: orange;
    &__brand {
      height: 50%;
      width:393px;
      background-size: 20%;
    &__mainLogo {
      background-repeat: no-repeat;
      background-image: url("~nav-title.png");
      img .nav-image {
        width: 20%;
      }
    }
  }
    &-nav {
      & > li {
        margin-left: 5px;
        &:first-child {
          margin-left: 0;
        }
        .user-nickname {
          color: black;
          font-size: 5px;
        }
        .profile-icon {
          background-image: url("~parts3.png");
        }
      }
    }
  }
}