<%# トップページ %>
<div class="container">
  <div class="top-wrapper text-center">
    <div class="top-content">
        <h1 class='service-title'>
        旅の思い出を
        </h1>
        <h2 class='service-explain'>
        あなたの呟きでまちを元気にしよう！
        </h2>
    </div>
  </div>
</div>