<%# トップページ %>
<div class="container">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="top-wrapper text-center">
      <div class="top-content">
          <h1 class='service-title'>
          旅の思い出を
          </h1><br>
          <h2 class='service-explain'>
          あなたの呟きでまちを元気にしよう！
          </h2>
      </div>
    </div>
  </div>
</div>