<%# トップページ %>
<div class="container-fluid">
<div class="top-wrapper text-center">
  <div class="top-content">
  <div class="row">
  <div class="col-lg-1 col-sm-6 col-xs-12">
    <h1 class='service-title'>
    旅の思い出を
    </h1>
    </div>
    <div class="col-lg-1 col-sm-6 col-xs-12">
    <h2 class='service-explain'>
    あなたの呟きでまちを元気にしよう！
    </h2>
    </div>
  </div>
  </div>
</div>
</div>