<% if user_signed_in? %> 
<%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
<% end %>
<div class="top-wrapper text-center">
  <div class="container top-container">
    <h1 class='service-title'>
    旅の思い出を
    </h1>
    <h2 class='service-explain'>
    あなたの呟きでまちを元気にしよう！
    </h2>
  </div>
</div>

<%= link_to "仮のボタンです", "#", class: "btn btn-primary" %>