//プロフィール編集機能

.profile-form-wrap {
    background: #fff;
    padding: 20px;
    border: 1px solid #e6e6e6;
  }
  
  .profile-form-wrap label {
    font-weight: bold;
  }
  
  .edit-profile-wrapper {
    margin-top: 60px;
  }

  .self-introduction {
    border: 1px solid #e6e6e6;
  }

  @media screen and (max-width: 768px) {
    .profile-form-wrap {
      width: 100&;
    }
  }
  
  @media screen and (max-width: 489px) {
    .profile-form-wrap {
      width: 100&;
    }
  }